{% extends "layout.html" %}

{% block content %}

<h2 style="background-color: #c2f5fc; padding: 10px; border-left: 5px solid #3498db;">
  食材選択（野菜と炭水化物）
</h2>
（あ行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/アスパラ.jpg" alt="" width="50px" height="50px">アスパラガス</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/えだまめ.jpg" alt="" width="50px" height="50px">枝豆</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/大葉.jpg" alt="" width="50px" height="50px">大葉・しそ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/オクラ.jpg" alt="" width="50px" height="50px">オクラ</button>
<br>
（か行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/カブ.jpg" alt="" width="50px" height="50px">カブ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/かぼちゃ.jpg" alt="" width="50px" height="50px">かぼちゃ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/カリフラワー.jpg" alt="" width="50px" height="50px">カリフラワー</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/キャベツ.jpg" alt="" width="50px" height="50px">キャベツ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/きゅうり.jpg" alt="" width="50px" height="50px">きゅうり</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ごぼう.jpg" alt="" width="50px" height="50px">ごぼう</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ごま.jpg" alt="" width="50px" height="50px">ごま</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/小松菜.jpg" alt="" width="50px" height="50px">小松菜</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ゴーヤ.jpg" alt="" width="50px" height="50px">ゴーヤ</button>
<br>
（さ行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/さつまいも.jpg" alt="" width="50px" height="50px">さつまいも</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/里芋.jpg" alt="" width="50px" height="50px">里芋</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/サヤインゲン.jpg" alt="" width="50px" height="50px">サヤインゲン</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/サヤエンドウ.jpg" alt="" width="50px" height="50px">サヤエンドウ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/240_F_280506853_xa5wivcr8WlgcB4VO5bMtAQR5Jmhnjqa.jpg" alt="" width="50px" height="50px">ししとう</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ジャガイモ.jpg" alt="" width="50px" height="50px">ジャガイモ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/春菊.jpg" alt="" width="50px" height="50px">しゅんぎく</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ズッキーニ.jpg" alt="" width="50px" height="50px">ズッキーニ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/セロリ.jpg" alt="" width="50px" height="50px">セロリ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/そら豆.jpg" alt="" width="50px" height="50px">そら豆</button>
<br>
（た行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/大根.jpg" alt="" width="50px" height="50px">大根</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/高菜.jpg" alt="" width="50px" height="50px">高菜</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/玉ねぎ.jpg" alt="" width="50px" height="50px">玉ねぎ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/たけのこ.jpg" alt="" width="50px" height="50px">たけのこ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/チンゲンサイ.jpg" alt="" width="50px" height="50px">チンゲンサイ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/つるむらさき.jpg" alt="" width="50px" height="50px">つるむらさき</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/240_F_1450902902_fFn7YO92bRFXHarYPLtQYDCELBFUY1ZZ.jpg" alt="" width="50px" height="50px">とうがらし</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/とうもろこし.jpg" alt="" width="50px" height="50px">とうもろこし</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/トマト.jpg" alt="" width="50px" height="50px">とまと</button>
<br>
（な行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/なす.jpg" alt="" width="50px" height="50px">なす</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/菜花.jpg" alt="" width="50px" height="50px">なばな</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/にら.jpg" alt="" width="50px" height="50px">にら</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/にんにく.jpg" alt="" width="50px" height="50px">にんにく</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/にんじん.jpg" alt="" width="50px" height="50px">にんじん</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ねぎ.jpg" alt="" width="50px" height="50px">ねぎ</button>
<br>
（は行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/白菜.jpg" alt="" width="50px" height="50px">白菜</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/パセリ.jpg" alt="" width="50px" height="50px">パセリ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/パプリカ.jpg" alt="" width="50px" height="50px">パプリカ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ピーマン.jpg" alt="" width="50px" height="50px">ピーマン</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ふき.jpg" alt="" width="50px" height="50px">ふき</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ブロッコリー.jpg" alt="" width="50px" height="50px">ブロッコリー</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ほうれん草.jpg" alt="" width="50px" height="50px">ほうれん草</button>
<br>
（ま行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/水菜.jpg" alt="" width="50px" height="50px">みずな</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ミツバ.jpg" alt="" width="50px" height="50px">みつば</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/モロヘイヤ.jpg" alt="" width="50px" height="50px">モロヘイヤ</button>
<br>
（ら行）
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/落花生.jpg" alt="" width="50px" height="50px">落花生（ピーナッツ）</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/レタス.jpg" alt="" width="50px" height="50px">レタス</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/蓮根.jpg" alt="" width="50px" height="50px">レンコン</button>
<br>
<br>
(炭水化物)
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/お米.jpeg" alt="" width="50px" height="50px">米</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/食パン.jpeg" alt="" width="50px" height="50px">食パン</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/菓子パン.jpg" alt="" width="50px" height="50px">菓子パン</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/うどん.jpeg" alt="" width="50px" height="50px">うどん</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/そば.jpg" alt="" width="50px" height="50px">そば</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/パスタめん.jpg" alt="" width="50px" height="50px">パスタ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/フルグラ.jpeg" alt="" width="50px" height="50px">シリアル</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/おもち.jpeg" alt="" width="50px" height="50px">おもち</button>
<br>
 <a href="/" class="btn btn-outline-info">カート</a>

{% endblock %}