{% extends "layout.html" %}

{% block content %}


  <h2 style="background-color: #c4f5fb; padding: 10px; border-left: 5px solid #3498db;">
  冷蔵庫チェック
</h2>
  <div class="card" style="width: 18rem;">
  <img src="/static/冷蔵庫.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">冷蔵庫カメラ</p>
    <a href="#" class="btn btn-primary">みる</a>
  </div>
    </div>
    <div class="card" style="width: 18rem;">
  <img src="/static/画像.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">冷凍庫カメラ</p>
    <a href="#" class="btn btn-primary">みる</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">野菜室チェック</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}