<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    </nav>
    <h2 style="background-color: #c2f5fc; padding: 10px; border-left: 5px solid #3498db;">
  食材選択（果物・調味料）
</h2>
<br>
(果物)
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/いちご.jpg" alt="" width="50px" height="50px">いちご</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/梅.jpg" alt="" width="50px" height="50px">うめ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/オレンジ.jpg" alt="" width="50px" height="50px">オレンジ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/かき.jpg" alt="" width="50px" height="50px">かき</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/キウイ.jpg" alt="" width="50px" height="50px">キウイフルーツ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/さくらんぼ.jpg" alt="" width="50px" height="50px">さくらんぼ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/スイカ.jpg" alt="" width="50px" height="50px">スイカ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/メロン.jpg" alt="" width="50px" height="50px">メロン</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/なし.jpg" alt="" width="50px" height="50px">なし</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/バナナ.jpg" alt="" width="50px" height="50px">バナナ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/パイナップル.jpg" alt="" width="50px" height="50px">パイナップル</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/マンゴー.jpg" alt="" width="50px" height="50px">マンゴー</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ブドウ.jpg" alt="" width="50px" height="50px">ブドウ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/もも.jpg" alt="" width="50px" height="50px">もも</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/りんご.jpg" alt="" width="50px" height="50px">りんご</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/レモン.jpg" alt="" width="50px" height="50px">レモン</button>
<br>
<br>
(調味料・缶詰)
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/醤油.jpg" alt="" width="50px" height="50px">醤油</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/おす.jpg" alt="" width="50px" height="50px">お酢</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/料理酒.jpeg" alt="" width="50px" height="50px">料理酒</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/みりん.jpg" alt="" width="50px" height="50px">みりん</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/めんつゆ.jpeg" alt="" width="50px" height="50px">めんつゆ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/スクリーンショット 2025-08-12 12.09.55.png" alt="" width="50px" height="50px">ソース(中濃)</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/だし.jpg" alt="" width="50px" height="50px">だし</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ポン酢.jpg" alt="" width="50px" height="50px">ポン酢</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/オイスターソース.jpg" alt="" width="50px" height="50px">オイスターソース</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/マヨネーズ.jpg" alt="" width="50px" height="50px">マヨネーズ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/240_F_1213967467_wV3Nx8rEpW5ZjbXF8NR3VnP3whPhKjZ5.jpg" alt="" width="50px" height="50px">ケチャップ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/サラダ油.jpg" alt="" width="50px" height="50px">サラダ油</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ごま油.jpg" alt="" width="50px" height="50px">ごま油</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/オリーブオイル.jpg" alt="" width="50px" height="50px">オリーブオイル</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/塩.jpg" alt="" width="50px" height="50px">塩</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/240_F_247719713_hXKxhodTisYGEwceFlAa9iD6XbUmpexN.jpg" alt="" width="50px" height="50px">砂糖</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/胡椒.jpg" alt="" width="50px" height="50px">胡椒</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/薬味.jpg" alt="" width="50px" height="50px">薬味</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/みそ.jpg" alt="" width="50px" height="50px">みそ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ツナ缶.jpg" alt="" width="50px" height="50px">ツナ缶</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/サケフレーク.jpg" alt="" width="50px" height="50px">サケ缶（鮭フレーク）</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/サバ缶.jpg" alt="" width="50px" height="50px">サバ缶</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/蟹缶.jpeg" alt="" width="50px" height="50px">カニ缶</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/みかんの缶詰.jpg" alt="" width="50px" height="50px">みかん缶詰</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/白桃の缶詰.jpg" alt="" width="50px" height="50px">白桃</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/黄桃の缶詰.jpg" alt="" width="50px" height="50px">黄桃</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/パイナップルの缶詰.jpg" alt="" width="50px" height="50px">パイナップル</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/フルーツミックス.jpg" alt="" width="50px" height="50px">フルーツミックス</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ホールトマト.jpeg" alt="" width="50px" height="50px">ホールトマト缶</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/カットトマト.jpg" alt="" width="50px" height="50px">カットトマト缶</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/コーンかん.jpg" alt="" width="50px" height="50px">コーン缶</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/豆類缶.jpg" alt="" width="50px" height="50px">豆類缶</button>
<br>
<br>
(〇〇粉)
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/薄力粉.jpeg" alt="" width="50px" height="50px">薄力粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/中力粉.jpeg" alt="" width="50px" height="50px">中力粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/強力粉.jpeg" alt="" width="50px" height="50px">強力粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/片栗粉.jpeg" alt="" width="50px" height="50px">片栗粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/きな粉.jpeg" alt="" width="50px" height="50px">きな粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ダウンロード.jpeg" alt="" width="50px" height="50px">そば粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/天ぷら粉.jpeg" alt="" width="50px" height="50px">天ぷら粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/パン粉.jpeg" alt="" width="50px" height="50px">パン粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/米粉.jpeg" alt="" width="50px" height="50px">米粉</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ホットケーキミックス.jpeg" alt="" width="50px" height="50px">ホットケーキミックス</button>
<br>
<br>
(お菓子)
<br>
<button type="button" class="btn btn-outline-primary"><img src="/static/クッキー.jpg" alt="" width="50px" height="50px">クッキー</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/チョコレート.jpg" alt="" width="50px" height="50px">チョコレート</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/チョコレート菓子.jpg" alt="" width="50px" height="50px">チョコレート菓子</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/せんべい.jpg" alt="" width="50px" height="50px">せんべい・あられ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ビスケット.jpg" alt="" width="50px" height="50px">ビスケット</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/ガム.jpg" alt="" width="50px" height="50px">ガム</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/キャンディー.jpg" alt="" width="50px" height="50px">キャンディー</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/グミ.jpg" alt="" width="50px" height="50px">グミ</button>
<button type="button" class="btn btn-outline-primary"><img src="/static/和菓子.jpg" alt="" width="50px" height="50px">和菓子</button>
</body>
</html>