
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
</head>
<body>
 <h2 style="background-color: #c2f5fc; padding: 10px; border-left: 5px solid #3498db;">
  レシート読み込み
</h2>
<dl>
  <dt>写真</dt>
  <dd>
    <div>
    <label><span>背面カメラ</span>
    <input type="file" capture="environment" accept="image/*"></label>
    </div>
    <div>
    <label><span>インカメラ</span>
    <input type="file" capture="user" accept="image/*"></label>
    </div>
  </dd>
  <dt>動画</dt>
  <dd>
    <div>
    <label><span>背面カメラ</span>
    <input type="file" capture="environment" accept="video/*"></label>
    </div>
    <div>
    <label><span>インカメラ</span>
    <input type="file" capture="user" accept="video/*"></label>
    </div>
  </dd>
</dl>
</body>
    </html>
