{% extends "layout.html" %}

{% block content %}
<form action="/login" method="post">
      <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">@</span>
    <input name="mailaddress" type="email" class="form-control" placeholder="mail address" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">🔑</span>
    <input name="password" type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1">
  </div>
    <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">サインイン</button>
  </div>

</form>
{% endblock %}