{% extends "layout.html" %}

{% block content %}

    <div class="card" style="width: 18rem;">
  <img src="/static/kkk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">唐揚げ</h5>
    <p class="card-text">今日のご飯は</p>
 <a href="https://cookpad.com/jp/search/%E5%94%90%E6%8F%9A%E3%81%92?event=search.suggestion&order=recent" target="_blank">クックパッド：唐揚げ</a>
  </div>
    </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/niku.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ステーキ</h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/jp/search/%E3%82%B9%E3%83%86%E3%83%BC%E3%82%AD" target="_blank">クックパッド：ステーキ</a>

  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/オム.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">オムライス
    </h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/jp/search/%E3%82%AA%E3%83%A0%E3%83%A9%E3%82%A4%E3%82%B9" target="_blank">クックパッド：オムライス</a>
  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/チャーハン.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">チャーハン</h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/jp/search/%E3%83%81%E3%83%A3%E3%83%BC%E3%83%8F%E3%83%B3" target="_blank">クックパッド：チャーハン</a>
  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/野菜炒め.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">野菜炒め</h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/jp/search/%E9%87%8E%E8%8F%9C%E7%82%92%E3%82%81" target="_blank">クックパッド：野菜炒め
</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="/static/肉じゃが.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">肉じゃが</h5>
    <p class="card-text">今日のご飯は</p>
  <a href="https://cookpad.com/jp/search/%E8%82%89%E3%81%98%E3%82%83%E3%81%8C" target="_blank">クックパッド：肉じゃが</a>
  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/青椒肉絲.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">青椒肉絲</h5>
    <p class="card-text">今日のご飯は</p>
 <a href="https://cookpad.com/jp/search/%E3%83%81%E3%83%B3%E3%82%B8%E3%83%A3%E3%82%AA%E3%83%AD%E3%83%BC%E3%82%B9?event=search.suggestion&order=recent" target="_blank">クックパッド：青椒肉絲</a>
  </div>
        </div>

        {% endblock %}