{% extends "layout.html" %}

{% block content %}

    <div class="card" style="width: 18rem;">
  <img src="/static/kkk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">唐揚げ</h5>
    <p class="card-text">今日のご飯は</p>
 <a href="https://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=text" target="_blank">クックパッド：唐揚げ</a>
  </div>
    </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/niku.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ステーキ</h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=text" target="_blank">クックパッド：ステーキ</a>

  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/オム.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">オムライス
    </h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=text" target="_blank">クックパッド：オムライス</a>
  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/チャーハン.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">チャーハン</h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=text" target="_blank">クックパッド：チャーハン</a>
  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/野菜炒め.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">野菜炒め</h5>
    <p class="card-text">今日のご飯は</p>
<a href="https://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=text" target="_blank">クックパッド：野菜炒め
</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="/static/肉じゃが.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">肉じゃが</h5>
    <p class="card-text">今日のご飯は</p>
  <a href="https://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=text" target="_blank">クックパッド：肉じゃが</a>
  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="/static/青椒肉絲.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">青椒肉絲</h5>
    <p class="card-text">今日のご飯は</p>
 <a href="https://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=text" target="_blank">クックパッド：青椒肉絲</a>
  </div>
        </div>

        {% endblock %}