{% extends "layout.html" %}

{% block content %}
<center>
<img src="/static/イルカシェフ.png" width="400px" height="400px">
</center>
<center>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <h2 class="text-center" style="background-color: #c2f5fc; padding: 10px; border-left: 5px solid #3498db;">
      今週のおすすめメニュー
    </h2>
    <div class="carousel-inner">
      {% for r in recipe3 %}
      <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
        <a href="{{r.link}}" target="_blank">
          <img src="{{r.photo}}" width="100px" height="250px" class="d-block w-100" alt="...">
        </a>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="carouselExample" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" class="active" aria-current="true" aria-label="Slide 3"></button>
  </div>
  <h2 class="text-center" style="background-color: #c2f5fc; padding: 10px; border-left: 5px solid #3498db;">
  ちょい高級なメニュー
</h2>
  <div class="carousel-inner">
   {% for r in luxury3 %}
      <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
        <a href="{{r.link}}" target="_blank">
          <img src="{{r.photo}}" width="100px" height="250px" class="d-block w-100" alt="...">
        </a>
      </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<center>
 <a href="/vote" class="btn btn-outline-info">投票へ</a>
 <a href="/suggest" class="btn btn-outline-info">献立提案へ</a>
  <a href="/cold" class="btn btn-outline-info">冷蔵庫チェック</a>
</center>

{% endblock %}
