<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .yumaru{
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body style="background-color: rgb(255, 64, 0);">
    <h1 class="yumaru">お試し</h1>
    <h2 class="yumaru">お試し</h2>
    <h3 class="yumaru">お試し</h3>
    <h4 class="yumaru">お試し</h4>
    <h5 class="yumaru">お試し</h5>
    <h6 class="yumaru">お試し</h6>

    {{abc}}
    <br>
    {{aaa}}
    </body>
</html>